.input {
  width: 40%;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 8px;
  box-shadow: 1px 3px 9px rgba($color: #08b2c9, $alpha: 0.25);
  padding: 10px 15px;
  &:focus {
    outline: none;
  }
  color: #08b2c9; 
  text-align: center;
  font-size: 17pt;
  text-transform: capitalize;
}

.input::placeholder { 
  color: #08b2c9; 
  text-align: center;
  font-size: 17pt;
}

.btn {
  box-shadow: 1px 3px 9px rgba($color: #08b2c9, $alpha: 0.25);
}
@media (max-width: 576px) {
  .input {
    width: 80%;
  }
}